@import "../../styles/Mixins.scss";

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  @include border-radius;
  @include padding;
  width: 300px;
  height: 200px;
}

.modal__content {
  margin-bottom: 10px;
}

.modal__actions {
@include flex-row;
}
